:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  font-family: Helvetica,sans-serif;
}

.header-buttons {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.main-title {
  display: flex;
  justify-content: center;
}

.sub-title {
  display: flex;
  justify-content: center;
}

.sortTitle {
  margin-left: 50px;
}

.sortButtons {
  margin-left: 50px;
  display: flex;
  gap: 10px;
}

.sortButtons button {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui ,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.sortButtons button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.sortButtons button:hover {
  background-color: #2c974b;
}

.sortButtons button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.sortButtons button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.sortButtons button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

/* Default grid layout for desktop */
.album-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 25px; 
  margin: 25px 50px;
  z-index: 1;
}

.album {
  position: relative;
  margin: 10px;
}

/* Apply opacity to the image inside cover-image-wrapper with an easing transform */
.cover-image-wrapper:hover img {
  opacity: 0.4;
  transition: opacity 0.3s, transform 0.3s ease-in; 
}

/* Reset opacity for albumIcons when hovered over album */
.album:hover .albumIcons img {
  opacity: 0.8;
  transition: opacity 0.2s, transform 0.2s ease-in; 
}

.play-icon:hover {
  opacity: 1 !important;
}

.cover-image-wrapper img {
  position: relative;
  height: auto;
  max-width: 600px;
  width: 100%;
}

.albumIcons {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.2s; 
  cursor: pointer;
}

.cover-image-wrapper .albumIcons img {
  width: 15px;
  height: 15px;
  filter: brightness(0) invert(1);
}

.albumIcons img:hover {
  transform: scale(1.1); /* Scale up on hover */
}

.cover-image-wrapper:hover .albumIcons {
  display: flex;
  gap: 10px;
  transform: translate(-50%, -50%) scale(2.5); 
}

.artistName a, span {
  font-family: Helvetica,sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: #a0a0a0;
}

.albumName a {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.albumName:hover {
  text-decoration: underline; 
  color: #ffffff;
}

.artistName:hover {
  text-decoration: underline; 
  color: #a0a0a0;
}

/* Add hover effect to the icon wrappers */
.albumIcons .icon-wrapper:hover {
  transform: scale(1.3);
}


/* SIDEBAR STYLING */
.editor-picks-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; /* Add spacing between header and other content */
}

.sidebar-playlist-list {
  position: fixed; /* Fixed position to keep the sidebar on the right */
  right: 0; /* Show the sidebar on the right side */
  width: 500px;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.904);
  z-index: 2;
  transition: right 0.3s; /* Add a transition for smoother right changes */
  overflow-y: auto; /* Add vertical scrolling for the sidebar */
}

.sidebar.modal-active {
  right: 0; /* Keep it on the right when modal-active */
}

.sidebar h2 {
  color: #2ea44f;
  font-family: "Helvetica Neue";
}

.sidebar-playlist-item {
  margin: 18px 0;
  display: flex;
  flex-direction: row;
  padding: 5px;
  border-bottom: 1px solid #2ea44f;
  font-family: Helvetica,sans-serif;
}

.sidebar-playlist-item img {
  width: 80px;
  height: 80px;
}

.sidebar-playlist-item p {
  margin: 5px 0;
}

.playlist-info {
  padding: 0 10px;
}

.playlist-info a {
  text-decoration: none;
  color: inherit;
}

.playlist-name {
  font-size: 18px;
  font-weight: bold;
  padding: 2px 0;
}

.close-button {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui, Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 4px 12px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.close-button:hover {
  background-color: #0ec040;
}

/* Styles for tablet (2 albums per row) */
@media (max-width: 1024px) {
  .album-list {
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }
  .sortTitle {
    margin-left: 10px;
  }
  .sortButtons {
    margin: 10px;
  }
}

/* Styles for mobile (1 album per row) */
@media (max-width: 666px) {
  .album-list {
    grid-template-columns: 1fr;
    margin: 0;
  }
  .sortTitle {
    margin-left: 10px;
  }
  .sortButtons {
    margin: 10px;
  }
  .sortButtons button {
    width: 80px;
    font-size: 10px;
    padding: 5px 0;
    margin: 0;
  }
  .sidebar .sidebar-playlist-list {
    width: 70%;
    height: 60%;
  }
  .close-button {
    margin-right: 12px;
  }
}